In [345]:
import pandas as pd

In [346]:
titanic=pd.read_csv('C:/Users/Dell/Documents/SRH_Course/Semister-2/analytics2/ajinkya/data/titanic/train.csv')

In [347]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [348]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [358]:
titanic.shape

(891, 9)

In [349]:
titanic.isna().sum()/titanic.shape[0]

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [350]:
#removed three features which will not much value to my analysis 
titanic=titanic.drop(['Cabin','Name','Ticket'], axis=1)

In [351]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [352]:
titanic['Age']=titanic['Age'].fillna(titanic['Age'].mean() )

In [353]:
titanic['Embarked'].isna().sum()/titanic.shape[0]

0.002244668911335578

In [354]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [357]:
titanic.shape

(891, 9)

In [359]:
titanic=titanic.dropna()

In [360]:
titanic.shape

(889, 9)

In [361]:
titanic['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [362]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [363]:
titanic = pd.get_dummies(titanic, prefix='Sex_', columns=['Sex'])

In [364]:
titanic.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex__female,Sex__male
0,1,0,3,22.0,1,0,7.2500,S,0,1
1,2,1,1,38.0,1,0,71.2833,C,1,0
2,3,1,3,26.0,0,0,7.9250,S,1,0
3,4,1,1,35.0,1,0,53.1000,S,1,0
4,5,0,3,35.0,0,0,8.0500,S,0,1

In [365]:
titanic = pd.get_dummies(titanic, prefix='Embarked', columns=['Embarked'])

In [378]:
titanic.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,3,22.0,1,0,7.2500,0,0,1,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,0,1,0
2,3,1,3,26.0,0,0,7.9250,0,0,1,1,0
3,4,1,1,35.0,1,0,53.1000,0,0,1,1,0
4,5,0,3,35.0,0,0,8.0500,0,0,1,0,1

In [379]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male'],
      dtype='object')

In [383]:
corr=titanic.corr()

In [384]:

corr.style.background_gradient(cmap='coolwarm')

In [387]:
X=titanic.drop(labels=['Survived'], axis=1)
y=titanic['Survived']

In [388]:
print(type(y))

<class 'pandas.core.series.Series'>

In [389]:
import statsmodels.api as sm
logit_model=sm.Logit(y.astype(float),x.astype(float))
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.450492
         Iterations 18
                              Results: Logit
===========================================================================
Model:                  Logit               Pseudo R-squared:    0.323
Dependent Variable:     Survived            AIC:                 824.7761
Date:                   2021-10-17 13:20    BIC:                 877.4919
No. Observations:       891                 Log-Likelihood:      -401.39
Df Model:               10                  LL-Null:             -593.33
Df Residuals:           880                 LLR p-value:         2.5309e-76
Converged:              1.0000              Scale:               1.0000
No. Iterations:         18.0000
---------------------------------------------------------------------------
             Coef.     Std.Err.      z    P>|z|      [0.025       0.975]
---------------------------------------------------------------------------
PassengerId   0.0001       0.0003  0.2362 0.8133       -0.0006       0.0008
Pclass       -0.9705       0.1391 -6.9796 0.0000       -1.2431      -0.6980
Age          -0.0166       0.0055 -3.0022 0.0027       -0.0275      -0.0058
SibSp        -0.2758       0.1021 -2.7000 0.0069       -0.4759      -0.0756
Parch        -0.0540       0.1155 -0.4678 0.6399       -0.2804       0.1723
Fare          0.0023       0.0024  0.9745 0.3298       -0.0023       0.0069
Sex_female   47.2532 3834596.5909  0.0000 1.0000 -7515623.9601 7515718.4666
Sex_male     44.5145 3834596.5909  0.0000 1.0000 -7515626.6988 7515715.7279
Embarked__C -43.1236 3834596.5909 -0.0000 1.0000 -7515714.3370 7515628.0897
Embarked__Q -43.4380 3834596.5909 -0.0000 1.0000 -7515714.6514 7515627.7753
Embarked__S -43.5094 3834596.5909 -0.0000 1.0000 -7515714.7228 7515627.7039
===========================================================================

In [392]:
X.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male'],
      dtype='object')

In [393]:
X2=X.drop(['PassengerId', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male'], axis=1)

In [395]:
logit_model2=sm.Logit(y.astype(float),X2.astype(float))
result2=logit_model2.fit()
print(result2.summary2())

Optimization terminated successfully.
         Current function value: 0.601420
         Iterations 6
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.097
Dependent Variable: Survived         AIC:              1081.7308
Date:               2021-10-17 13:23 BIC:              1105.6925
No. Observations:   891              Log-Likelihood:   -535.87
Df Model:           4                LL-Null:          -593.33
Df Residuals:       886              LLR p-value:      6.4770e-24
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
-------------------------------------------------------------------
           Coef.    Std.Err.      z      P>|z|     [0.025    0.975]
-------------------------------------------------------------------
Pclass    -0.2622     0.0582   -4.5061   0.0000   -0.3763   -0.1482
Age       -0.0118     0.0048   -2.4694   0.0135   -0.0212   -0.0024
SibSp     -0.2245     0.0828   -2.7119   0.0067   -0.3867   -0.0622
Parch      0.1916     0.0998    1.9195   0.0549   -0.0040    0.3872
Fare       0.0145     0.0026    5.5307   0.0000    0.0094    0.0196
=================================================================

In [429]:
titanic_test=pd.read_csv('C:/Users/Dell/Documents/SRH_Course/Semister-2/analytics2/ajinkya/data/titanic/test.csv')

In [430]:
titanic_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [431]:
titanic_test=titanic_test[[ 'Pclass',  'Age', 'SibSp','Parch','Fare']]

In [432]:
titanic_test.isna().sum()

Pclass     0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [433]:
titanic_test['Age']=titanic_test['Age'].fillna(titanic_test['Age'].mean() )

In [434]:
titanic_test['Fare']=titanic_test['Fare'].fillna(titanic_test['Fare'].mean() )

In [436]:
titanic_test.dropna()

     Pclass       Age  SibSp  Parch      Fare
0         3  34.50000      0      0    7.8292
1         3  47.00000      1      0    7.0000
2         2  62.00000      0      0    9.6875
3         3  27.00000      0      0    8.6625
4         3  22.00000      1      1   12.2875
..      ...       ...    ...    ...       ...
413       3  30.27259      0      0    8.0500
414       1  39.00000      0      0  108.9000
415       3  38.50000      0      0    7.2500
416       3  30.27259      0      0    8.0500
417       3  30.27259      1      1   22.3583

[418 rows x 5 columns]

In [437]:
from sklearn.linear_model import LogisticRegression

In [438]:
logisticRegr2 = LogisticRegression()

In [439]:
logisticRegr2.fit(X2, y)

LogisticRegression()

In [440]:
logisticRegr2.predict(titanic_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [441]:
logisticRegr.score(X2,y)

0.7048260381593715